<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
	<configSections>
    
	<section name="engineConfig" type="ACLXrayAgent.Config.EngineConfig, ACLXrayAgent" />
    
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, 		Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
	<startup>
    
		<supportedRuntime version="v4.0" />
  
	</startup>
  
	<runtime>
    
		<enforceFIPSPolicy enabled="false" />
  
	</runtime>
  
	<connectionStrings>
    
		<!-- ACXRay DB connection string.
         
		     By default uses local SQLEXPRESS instance.-->
		<add name="StoreContext" connectionString="metadata=res://*/DM.DataStoreModel.csdl|res://*/DM.DataStoreModel.ssdl|			res://*/DM.DataStoreModel.msl;provider=System.Data.SqlClient;
			provider connection string=
			'data source=DATABASESERVER;
			initial catalog=DATABASENAME;
			integrated security=True;
			MultipleActiveResultSets=True;
			App=EntityFramework';" 
			providerName="System.Data.EntityClient" />
	</connectionStrings>
  
	<engineConfig xmlns="urn:ACLXrayAgent.Config" parallelism="0" retryAttempts="5" retryWaitMs="100" 		showExceptionDetails="true" visitOnAclCollection="true">
    
		<scanAd maxRecursionLevel="4">
      
			<!--Define those wellknow sid if dealing with non windows server-->
      
			<wellKnownTrustees>
        
				<!--<trustee authority="NT AUTHORITY" name="Authenticated Users"
 sid="S-1-5-11"
 isGroup="true"
 					isUser="false"
 />
        
				<trustee
 authority=""
 name="Everyone"
 sid="S-1-1-0" isGroup="true"
 isUser="false"
 />
        
				<trustee authority="BUILTIN"
 name="Administrators" sid="S-1-5-32-544"
 isGroup="true"
 
					isUser="false"
 />
        
				<trustee
 authority="BUILTIN" name="Users"
 sid="S-1-5-32-545"
 isGroup="true"
 isUser="false"
 />
        
				<trustee
 authority="BUILTIN"
 name="Backup Operators" sid="S-1-5-32-551"
 isGroup="true" 								isUser="false" />
			-->
      </wellKnownTrustees>
      
			<scanDomains>
        
				<domain domainName="DOMAINFQDN" getUserSidHistory="true" skipDomainUsers="false" 								getExchMasterAccountSid="false">
 
					<scanPaths>
            
						<ldapPath path="LDAP://DOMAINLDAP" skipScanning="false" />
          
					</scanPaths>
        
				</domain>
      
			</scanDomains>
    
		</scanAd>
  
	</engineConfig>
  
	<appSettings>
    
		<add key="O365" value="false" />
    
		<add key="SPUserName" value="https://site-collection-url" />
    
		<add key="SPPassword" value="pwd" />
    
		<add key="UseCurrentUser" value="true" />
    
		<add key="ClientSettingsProvider.ServiceUri" value="" />
  
	</appSettings>
  
	<entityFramework>
    
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      			<parameters>
        
				<parameter value="mssqllocaldb" />
      
			</parameters>
    
		</defaultConnectionFactory>
    
		<providers>
      
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, 			EntityFramework.SqlServer" />
    
		</providers>
  
	</entityFramework>
  
	<system.web>
    
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
      
			<providers>
        
				<add name="ClientAuthenticationMembershipProvider" 								type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, 							System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 						serviceUri="" />
      
			</providers>
    
		</membership>
    
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
      
			<providers>
        
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, 					System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 					serviceUri="" cacheTimeout="86400" />
      
			</providers>
    
		</roleManager>
  
	</system.web>

</configuration>